{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure      {:mvn/version "1.12.0"}
  ring/ring-jetty-adapter  {:mvn/version "1.13.0"}
  co.gaiwan/clj-slack      {:git/url "https://github.com/GaiwanTeam/clj-slack"
                            :git/sha "bba565541d868e3e234552a48c2a5ee512b1451a"}
  com.lambdaisland/cli     {:mvn/version "0.19.78"}
  com.lambdaisland/config  {:mvn/version "0.4.17"}
  io.pedestal/pedestal.log {:mvn/version "0.7.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.66.1034"}}}}}
