{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure     {:mvn/version "1.12.0"}
  ring/ring-jetty-adapter {:mvn/version "2.0.0-alpha1"}
  co.gaiwan/clj-slack     {:local/root "../clj-slack"}
  com.lambdaisland/cli    {:mvn/version "0.18.74"}
  com.lambdaisland/config {:local/root "../../lambdaisland/config"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.66.1034"}}}}}
