{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure      {:mvn/version "1.12.5"}
  ring/ring-jetty-adapter  {:mvn/version "1.15.5"}
  co.gaiwan/clj-slack      {:git/url "https://github.com/GaiwanTeam/clj-slack"
                            :git/sha "2a53aa80d287ead5ead392a6cc259fc199a5d2ab"}
  com.lambdaisland/cli     {:mvn/version "1.30.130"}
  com.lambdaisland/config  {:mvn/version "0.14.53"}
  io.pedestal/pedestal.log {:mvn/version "0.8.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}
